body{
    width: 100%;
    height: 1500px;
}


#tittle{
    font-family: 'Chivo', sans-serif;
    font-size: 44px;
    margin-bottom: 40px;
    margin-left: 40px;
}

#sub-tittle{
    font-family: 'Archivo', sans-serif;
    font-size: 30px;
    margin-left: 40px;
    margin-bottom: 45px;
}

#container-father{
    display: flex;
    justify-content: center;
}

#container-children{
    width: 900px;
    height: 1227px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
    
}

.card-product{
    width: 200px;
    height: 355px;
    box-sizing: border-box;
}

.img-product{
    width: 180px;
    height: 157px;
}

.description{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    height: 60px;
}

.price{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.btn-buy{
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px; 
    color: #2264D1;
    border: 1px solid #9DC2FF;
    border-radius: 4px;
    cursor: pointer;

}

.card-product:hover{
    border: solid 1px blue;
    border-radius: 5px;
}

